.video-responsive {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  width: 100%;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  border: none;
}