@import "../../styles/breakpoints.module.scss";
@import "../../styles/constants.scss";
@import "../../styles/mixins.module.scss";


.hamburger-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: transparent;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    transition: 0.5s ease
  }
  
  .line {
    width: 40px;
    height: 5px;
    background: $red;
    margin: 3px;
    border-radius: 15px;
    transition: all 0.4s ease;
  }
  
  .open .line:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
  }
  
  .open .line:nth-child(2) {
    opacity: 0;
  }
  
  .open .line:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
  }

  .hamburger-button:hover{
    background-color: $light-black;
  }
  