$black: rgb(25, 25, 25);
$light-black: rgb(35,35,35);
$red: #ff3864;
$red-light: rgb(255, 104, 137);
$blue: #623cea;
$white2: rgb(255, 236, 204);
$white: rgb(255, 255, 250);

$main-gradient: linear-gradient(247.24deg, #FF3864 29.59%, #623CEA 101.39%);
$gold-gradient: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
