.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper{
    width: 80vw;
    background-color: var(--color-light-black);
    border-radius: 15px;
}

.info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    gap: 5px;
}

.title{
    font-size: 32px;
    font-weight: bold;
    color: var(--color-blue);
    padding: 5px;
}

.description{
    font-size: 18px;
    text-align: right;
    padding: 5px;
    color: var(--color-white);
    text-align: center;
}

.more{
    text-align: right;
    font-weight: 700;
    font-size: 12px;
    padding: 5px;
    color: var(--color-red);
}

.photo{
    width: 200px;
    height: 200px;

}


@media screen and (min-width: 480px) {
    .wrapper {
        max-width: 650px;
        transition: 0.25s;
    }

    .wrapper:hover{
        opacity: 50%;
        scale: 1.05;
    }

    .description{
        font-size: 14px;
        margin-left: 25%;
        text-align: right;
    }

    .photo{
        width: 200px;
        height: 200px;
    }

    .content{
        flex-direction: row;
        justify-content: space-around;
    }
}

@media screen and (min-width: 1020px) {
    .wrapper {
        margin-bottom: 0px;
    }
}