.footer{
    align-self: end;
    justify-self: flex-start;
    margin-left: 10vw;
}

.name-footer{
    color: var(--color-red);
    font-size: 16px;
    font-weight: 600;
}

.page-link{
    color: var(--color-white);
    font-size: 12px;
    font-weight: 500;
    padding: 10px 0px;
}

.page-links{
    display: grid;
    padding: 10px 0px;
    justify-content: center;
}

@media screen and (min-width: 600px) {
    .footer{
        width: 80vw;
        justify-self: center;
        margin-left: 0;
    }

    .name-footer{
        font-size: 16px;
        text-align: left;
    }

    .page-link{
        font-size: 12px;
    }

    .page-links{
        grid-template-columns: auto auto auto;
        justify-content: space-between;
    }
}