@import "../../styles/breakpoints.module.scss";
@import "../../styles/mixins.module.scss";
@import "../../styles/constants.scss";

.canvas {
    width: 100vw;
    height: calc(100vh - $banner-height);
    position: absolute;
    z-index: 0;
}